header {
    width: 100%;
    height: auto;
    background-color: brown

}

p {
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: FFFFFF;
}
nav {
    width: 20%;
    height: 500px;
    background-color: black;
}